<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WorkBox.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WorkBox.Properties.Settings>
            <setting name="ExportCreator_OBJECT" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCreator_HMI" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCreator_PLC" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCreator_FILE" serializeAs="String">
                <value />
            </setting>
            <setting name="ExportCreator_Tune" serializeAs="String">
                <value />
            </setting>
            <setting name="TableCreator_Tune" serializeAs="String">
                <value />
            </setting>
        </WorkBox.Properties.Settings>
    </userSettings>
</configuration>