<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SQLTuneConnect.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SQLTuneConnect.Properties.Settings>
            <setting name="StrConnect1" serializeAs="String">
                <value />
            </setting>
            <setting name="StrConnect2" serializeAs="String">
                <value />
            </setting>
            <setting name="StrConnect3" serializeAs="String">
                <value />
            </setting>
            <setting name="StrConnect4" serializeAs="String">
                <value />
            </setting>
            <setting name="StrConnect5" serializeAs="String">
                <value />
            </setting>
            <setting name="StrPatchCreateNewDB" serializeAs="String">
                <value />
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
        </SQLTuneConnect.Properties.Settings>
    </userSettings>
</configuration>